<script type="text/x-handlebars" data-template-name="about">{{!-- dv: this is first client side template without handlebars escaping --}}
    <div class="container-fluid">
        About page
    </div>
</script>