<script type="text/x-handlebars" data-template-name="connections">
    <a \{{action "addConnectionFtp"}}>Add ftp</a>
    <a \{{action "addConnectionAgent"}}>Add agent</a>

    <p>TODO: Here must be jobs list</p>
</script>

{{!-- dv: register your client-side partials here. In alphabetical order!!! --}}
{{> connection-agent}}
{{> connection-ftp}}
