<script type="text/x-handlebars" data-template-name="connections">
    <a \{{action "addConnectionFtp"}}>Add ftp</a>
    <a \{{action "addConnectionAgent"}}>Add agent</a>
</script>

{{> connection-agent}}
{{> connection-ftp}}
