<script type="text/x-handlebars" data-template-name="dashboard">
        <div class="table-responsive">
            <table class="table borderless">
                <tbody>
                <tr>
                    <td class="first_row">American Signature<span style="font-size:22px;"><i class="fa fa-pencil"></i></span></td>
                    <td></td>
                    <td></td>
                    <td class="blue_row" align="right">ACTIVE</td>
                </tr>
                <tr>
                    <td class="blue_row">Weekly on Monday at 6 AM</td>
                    <td class="blue_row">LAST RUN</td>
                    <td>NEXT RUN</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ends after 5 runs</td>
                    <td class="red_row">07/07/14 &nbsp; 6:00 am</td>
                    <td>07/07/14 &nbsp; 6:00 am</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

    <table style="width: 100%">
        <tbody>
        <tr>
            <td align="right">  \{{input class="chok" type="submit" value="Add Task"}}</td>
            </tr>
        <tr><td>&nbsp</td></tr>
        </tbody>
    </table>

    \{{render "tasks"}}
    <hr>
    <br><hr>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">{{!--dummy need to open on the page could not see the contents of the tab--}}
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    &nbsp;
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    &nbsp;
                </div>
            </div>
        </div>{{!--end dummy--}}
        <div class="accordion-group">
            <div class="accordion-heading">
                <h4><button class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"
                            style="height: 25px;
                background-color: white;
                border: 0px;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Recent Changes
                </button></h4>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                        <label class="checkbox inline">
                            &nbsp; by: &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> me &nbsp; &nbsp; &nbsp;
                            <input type="checkbox" id="inlineCheckbox3" value="option3"> others &nbsp; &nbsp; &nbsp;
                        </label>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <td>07/07/14 12:32 pm</td>
                                    <td>Lev Kurts</td>
                                    <td>added "copy files to FTP"</td>
                                </tr>
                                <tr>
                                    <td>07/07/14  1:02 pm</td>
                                    <td>Vitali Hatalski</td>
                                    <td>added "send notification"</td>
                                </tr>
                                <tr>
                                    <td>07/07/14 11:35 pm</td>
                                    <td>Lev Kurts</td>
                                    <td>added "copy files to FTP"</td>
                                </tr>
                            </table>
                        </div>
                        <br><hr><br><hr>
                        <table class="table borderless">
                            <tr><td></td><td align="right"><a href="#"><u>ARCHIVE</u></a></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

{{!-- dv: register your client-side partials here. In alphabetical order!!! --}}
{{> connections}}
{{> execute-bar}}
{{> interface/menu-top}}
{{> interface/tab-connections}}
{{> interface/tab-jobs}}
{{> jobs}}
{{> users}}
{{> workspaces}}
