<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="table-responsive">
                        <table class="table borderless">
                            <tbody>
                            <tr>
                                <td class="first_row">American Signature</td>
                                <td class="blue_row">LAST RUN</td>
                                <td>NEXT RUN</td>
                                <td class="blue_row">ACTIVE</td>
                            </tr>
                            <tr>
                                <td class="blue_row">Weekly on Monday at 6 AM</td>
                                <td class="red_row">07/07/14</td>
                                <td>07/07/14</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Ends after 5 runs</td>
                                <td class="red_row">6:00 am</td>
                                <td>6:00 am</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h2 class="sub-header">Tasks</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>delete</td>
                                <td>clean folder</td>
                                <td>564 files were removed</td>
                                <td class="underline">0.68s</td>
                            </tr>
                            <tr>
                                <td>execute</td>
                                <td>EDI process execution</td>
                                <td>OK</td>
                                <td class="underline">13.10s</td>
                            </tr>
                            <tr>
                                <td>archive</td>
                                <td>zip</td>
                                <td>adding: index.html (default page for sc-test web p..</td>
                                <td class="underline">0.03s</td>
                            </tr>
                            <tr>
                                <td>copy</td>
                                <td>copy files to FTP</td>
                                <td>index2.zip copied to ftp://..</td>
                                <td class="underline">3.01s</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
</div>