<script type="text/x-handlebars" data-template-name="dashboard">
    <div class="main">
        <div class="table-responsive">
            <table class="table borderless">
                <tbody>
                <tr>
                    <td class="first_row">American Signature<i class="fa fa-pencil"></i></td>
                    <td class="blue_row">LAST RUN</td>
                    <td>NEXT RUN</td>
                    <td class="blue_row">ACTIVE</td>
                </tr>
                <tr>
                    <td class="blue_row">Weekly on Monday at 6 AM</td>
                    <td class="red_row">07/07/14</td>
                    <td>07/07/14</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ends after 5 runs</td>
                    <td class="red_row">6:00 am</td>
                    <td>6:00 am</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2 class="sub-header">Tasks</h2>
        \{{render "tasks"}}
    </div>
</script>