<script type="text/x-handlebars" data-template-name="execute-bar">
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table borderless">
                <tbody>
                <tr>
                    <td class="first_row">EDI Process Execution<i class="fa fa-pencil"></i></td>
                    <td class="blue_row">ACTIVE</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <h3><i class="fa fa-chevron-down"></i>Task Properties</h3>
        <label class="label-br">Type:</label>
        <div class="btn-group cron-drop">
            <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">Execute</button>
            <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <hr>
        <label class="label-br">Connection:</label>
        <div class="btn-group cron-drop">
            <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">local</button>
            <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <br>
        <div class="input-section">
            <label class="label-br">Working directory</label>
            <div class="input-group">
                <input type="text" class="form-control">
                   <span class="input-group-btn">
                   <button class="btn caret-cron" type="button"><i class="fa fa-ellipsis-h"></i></button>
                   </span>
            </div>
        </div>
        <div class="input-section">
            <label class="label-br">Executable:</label>
            <div class="input-group">
                <input type="text" class="form-control">
                   <span class="input-group-btn">
                   <button class="btn caret-cron" type="button"><i class="fa fa-ellipsis-h"></i></button>
                   </span>
            </div>
        </div>
        <div class="input-section">
            <label class="label-br">Arguments:</label>
            <input type="text" class="form-control">
        </div>
        <hr>
        <label class="label-br">Failure conditions:</label>
        <div class="input-section">
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                          <span class="input-group-addon check-cron">
                            <input type="checkbox">
                          </span>
                            <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="btn-group cron-drop">
                        <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">1 Minute</button>
                        <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <h3><i class="fa fa-chevron-right"></i>Output</h3>
        </div>
    </div>
</script>