<script type="text/x-handlebars" data-template-name="home_page">
    <div class="backglp"><!-- фон страницы -->
        <div class="container" align="center">
            <div class="formlp"><!-- форма блока -->
                <div class="contlp"> <!-- контейнер с контентом блока-->
                    <div class="heightblock"></div>
                    <div class="hdfm"> <!-- шапка формы c надписью "Sign in using your e-mail"-->
                        <h3 style="height: 36px;
                    border-bottom-width: 8px;
                    margin-top: 10px;
                    padding-top: 10px;">
                            Sign in using your e-mail </h3>
                    </div> <!--end id hdfm-->
                    <div class="blc-autr"><!-- блок авторизации-->
                        <form class="form-signin1">
                            <input type="text" class="input-block-level" placeholder="Email">
                            <input type="password" class="input-block-level" placeholder="Password">
                            <table class="tablechc">
                                <tr>
                                    <td align="left">
                                        <label class="checkbox" style="left: 18px; margin-top: 10px;">
                                            <input type="checkbox" class="chkbxlendp"  value="remember-me" style="border-radius: 0; background-color: #ffffff">
                                            &nbsp Remember me
                                        </label>
                                    </td>
                                    <td align="right"> <a href="#"><u> forgot your password?</u></a> </td>
                                </tr>
                            </table>
                            <label><a href="#" class="btn btn-default btn-lg" type="submit" style="margin-left:226px; border-radius: 0; border-color:#10accc;">SIGN IN</a></label>
                        </form>
                    </div> <!-- end id blc autr-->
                    <div>
                        <div class="orblk">
                            <img src="img/orblok.png" alt="OR"/>
                        </div><!--end id orblc-->
                        <div class="ftrform">
                            <div class="sngl">
                                <br><br>
                                <table>
                                    <tr>
                                        <td class="btn btn-default btn-lg" type="submit"
                                            style="border-radius: 0;
                                        border-color:#10accc;
                                        padding-left: 0px;
                                        padding-right: 0px;
                                        padding-bottom: 0px;
                                        padding-top: 0px;
                                        border-top-width: 1px;">
                                            <a href="#"><img src="img/signgoogle.png" alt="Google"/></a>
                                        </td>
                                    </tr>
                                </table>
                            </div><!--end id sngl-->
                            <div class="dnth">
                                <br><br><br><br><br>
                                <a href="#"> <p><u>Do not have an account? Sign Up here!</u></p></a>

                            </div><!--end id dnth-->
                        </div><!--end id ftrform-->
                    </div>
                </div> <!-- end contlp-->
            </div> <!-- end formlp-->
        </div> <!--end container-->
    </div> <!-- end id backglp-->
</script>