<script type="text/x-handlebars" data-template-name="index">
    <h1>TrueCron</h1>
    <p>Welcome to TrueCron</p>

    <p class="bg-primary">Please see left menu!</p>

    <ul>
        <li>
            \{{#link-to 'hello'}}
                <i class="fa fa-heart"></i>  Hello World (super cool)
            \{{/link-to}}

        </li>
    </ul>
</script>