<script type="text/x-handlebars" data-template-name="index">
    <div>
        <a href="/signin/">
            <i class="fa fa-wrench"></i>  Hello World (old school)
        </a>
    </div>
    <div>
        \{{#link-to 'hello'}}
            <i class="fa fa-heart"></i>  Hello World (super cool)
        \{{/link-to}}
    </div>
</script>