<script type="text/x-handlebars" data-template-name="jobs">
    \{{#link-to "jobs-add"}}Add job\{{/link-to}}

    <p>TODO: Here must be jobs list</p>
</script>

{{!-- dv: register your client-side partials here. In alphabetical order!!! --}}
{{> jobs-add}}
{{> jobs-item}}
{{> tasks}}
