<script type="text/x-handlebars" data-template-name="organizations">
    {{#link-to "organizations-add"}}Add organization{{/link-to}}

    <li>{{#link-to "organizations-item"}}Organization 1{{/link-to}}</li>
    <li>Organization 2</li>
</script>
