<script type="text/x-handlebars" data-template-name="organizations/index">
    {{#link-to "organizations.add"}}Add organization{{/link-to}}
    {{#each}}
        <li>{{#link-to "organizations.item" this}}{{name}}{{/link-to}}</li>
    {{/each}}
</script>
