<script type="text/x-handlebars" data-template-name="signup">
     <div class="row">
         <div class="span3">
             <form class="form-signin" role="form">
                 <h2 class="form-signin-heading">Please sign up</h2>
                 <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
                 <p></p>
                 <input type="password" class="form-control" placeholder="Password" required="">
                 <div class="checkbox">
                     <label>
                         <input type="checkbox" value="remember-me"> Remember me
                     </label>
                 </div>
                 <button class="btn btn-lg btn-primary btn-block">Sign up</button>
             </form>
             <br>
         </div> <!--end 1 part container-->
         <br><br>
         <div class="span4"> <!-- batton "Sign in with Google account"-->
             <a href="#" class="btn btn-primary btn-large">Sign in with Google account</a>
         </div> <!--end 2 part container-->
    </div>
</script>