<script type="text/x-handlebars" data-template-name="signup">

    {{!-- Button trigger modal --}}
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Sign up
    </button>

    {{!-- Modal --}}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign up</h4>
                </div>
                <div class="modal-body">
                    {{!-- sig--}}
                            <form class="form-signin" role="form">
                                <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
                                <p></p>
                                <input type="password" class="form-control" placeholder="Password" required="">
                                <br>
                                <button class="btn btn-lg btn-primary btn-block">Sign up</button>
                            </form>
                            <br><br><br>
                         {{!-- batton "Sign in with Google account"--}}
                            <a href="#" class="btn btn-primary btn-large">Sign in with Google account</a>
                </div>
             </div>
        </div>
    </div>
</script>