<script type="text/x-handlebars" data-template-name="tasks">
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>delete</td>
                <td>clean folder</td>
                <td>564 files were removed</td>
                <td class="underline">0.68s</td>
            </tr>
            <tr>
                <td>execute</td>
                <td>EDI process execution</td>
                <td>OK</td>
                <td class="underline">13.10s</td>
            </tr>
            <tr>
                <td>archive</td>
                <td>zip</td>
                <td>adding: index.html (default page for sc-test web p..</td>
                <td class="underline">0.03s</td>
            </tr>
            <tr>
                <td>copy</td>
                <td>copy files to FTP</td>
                <td>index2.zip copied to ftp://..</td>
                <td class="underline">3.01s</td>
            </tr>
            </tbody>
        </table>
    </div>
</script>

{{!-- dv: register your client-side partials here. In alphabetical order!!! --}}
{{> tasks-add}}
{{> tasks-item-email}}
{{> task-ftp}}
