<script type="text/x-handlebars" data-template-name="tasks-item-email">

    <table class="table">
        <tr>
            <td align="left">
                <label>
                    Send Notification <img src="img/pencil.png">
                </label>
            </td>
            <td align="right">
                <a class= "stllink" href="#"><u>ACTIVE</u></a>
            </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td>
                <label>
                    <img src="img/pointer-down.png">
                    Task Properties
                </label>
            </td>
        </tr>
        <tr>
            <td><br>Type:</td>
        </tr>
        <tr>
            <td>
                <select class="selectsmtp">
                    <option>Email</option>
                    <option>type#2</option>
                    <option>type#3</option>
                </select>
            </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td>
                Connection:
            </td>
        </tr>
        <tr>
            <td>
                <select class="selectsmtp">
                    <option>AWS SES</option>
                    <option>type#2</option>
                    <option>type#3</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Recipients:</td>
        </tr>
        <tr>
            <td>
                <img src="img/eml.png" alt="mrvisto@gmail.com x  mmog@truecron.com x"/>
            </td>
        </tr>
        <tr>
            <td><br>From:</td>
        </tr>
        <tr>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control" size="74" placeholder="client.notifications@ccron.com">
                </div>
            </td>
        </tr>
        <tr>
            <td><br>Subject:</td>
        </tr>
        <tr>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control" size="74" placeholder="American Signature Invoce is Available - {DATE(MM/DD/YYYY)">
                </div>
            </td>
        </tr>
        <tr>
            <td><br>Body:</td>
        </tr>
        <tr>
            <td>
                <li class="list-group-item">
                    Invoice file is available for processing<br>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Summary:<br>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Number Of Invoices: Total number of invoices<br>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Total Vendor Amount: Total invoice amount<br><br><br><br>
                </li>
            </td>
        </tr>
    </table>
    <br>

    <table>
        <tr>
            <h4>Attachements:</h4>
        </tr>
        <tr>
            <td><br>
                <div class="drag"><img src="img/dndform.png"></div>
            </td>
            <td>
                <p>&nbsp Attachment1.txt <img src="img/eml1.png"></p>
                <p>&nbsp Attachment2.txt  <img src="img/eml1.png"></p>
                <input type="button" class="chOk" value="Choose file" title="Choose file">
            </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td align="left">
                Failure conditions:
            </td>
        </tr>
        <tr>
            <td >
                <div class="checkbox">
                    <label class="contentforms" style="border:1px;">
                        <form class="contentforms">
                            <input type="checkbox"> timeout &nbsp
                            <select class="selectsmtp">
                                <option>1 minute</option>
                                <option>2 minute</option>
                                <option>10 minute</option>
                            </select>
                        </form>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <hr><label><img src="img/5.png"> Output</label>
                <hr>
            </td>
        </tr>

    </table>
</script>