<header class="job-details-header">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <h3 class="truecron-orange">Production <a class="btn btn-sm btn-material-blue-grey-400"><i class="fa fa-trash"></i></a></h3>
          </div>
      </div>
    </div>
</header>
<div class="container-fluid">
    <div class="col-md-12 text-right">
        <a class="btn btn-material-orange-700">Invite New User</a>
    </div>
    <div class="col-md-12">
        <div class="panel panel-material-blue-grey-200 truecron-panel">
            <div class="panel-heading truecron-panel-heading" id="includeRule">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="panel-title">
                            Email
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <h4 class="panel-title">
                            Role
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <h4 class="panel-title">
                            Action
                        </h4>
                    </div>
                </div>
            </div>
            <div id="includeRulePanel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="includeRule">
                <div class="panel-body truecron-panel-body">
                    <div class="row truecron-bottom-border">
                        <div class="col-md-4">
                            <h4>vhatalski@naviam.com</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group-material-orange-700">
                                <select class="form-control input-lg" placeholder="">
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                    <option value="3">Who am I</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-material-orange-700">Edit</a>
                            <a class="btn btn-material-blue-grey-400">Remove</a>
                        </div>
                    </div>
                    <div class="row truecron-bottom-border">
                        <div class="col-md-4">
                            <h4>lkurts@gmail.com</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group-material-orange-700">
                                <select class="form-control input-lg" placeholder="">
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                    <option value="3">Who am I</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-material-orange-700">Edit</a>
                            <a class="btn btn-material-blue-grey-400">Remove</a>
                        </div>
                    </div>
                    <div class="row truecron-bottom-border">
                        <div class="col-md-4">
                            <h4>bengler@servicechannel.com</h4>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group-material-orange-700">
                                <select class="form-control input-lg" placeholder="">
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                    <option value="3">Who am I</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-material-orange-700">Edit</a>
                            <a class="btn btn-material-blue-grey-400">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{outlet}}
