<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 truecron-org-header">
            <div class="row">
                <div class="col-md-8">
                   <h4>Organizations</h4>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-signup btn-margin">ADD ORGANIZATIONS</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 truecron-org-title">
            <div class="row">
                <div class="col-md-3">
                    <p class="org-title">Naviam/Truecron</p>
                </div>
                <div class="col-md-2">
                    <p>3 Workspaces</p>
                </div>
                <div class="col-md-2">
                    <p>633 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>8 Users</p>
                </div>
                <div class="col-md-3 text-right">
                    <a href="#"><i class="fa fa-plus"></i> ADD WORKSPACE</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 truecron-org-content">
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <p>Staging</p>
                </div>
                <div class="col-md-2">
                    <p>3 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>1 User</p>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2 col-md-offset-3">
                    <p>Production</p>
                </div>
                <div class="col-md-2">
                    <p>230 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>4 Users</p>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2 col-md-offset-3">
                    <p>Development</p>
                </div>
                <div class="col-md-2">
                    <p>400 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>3 Users</p>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 truecron-org-title">
            <div class="row">
                <div class="col-md-3">
                    <p class="org-title">DKNY</p>
                </div>
                <div class="col-md-2">
                    <p>4 Workspaces</p>
                </div>
                <div class="col-md-2">
                    <p>633 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>8 Users</p>
                </div>
                <div class="col-md-3 text-right">
                    <a href="#"><i class="fa fa-plus"></i> ADD WORKSPACE</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 truecron-org-content">
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <p>Staging</p>
                </div>
                <div class="col-md-2">
                    <p>3 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>1 User</p>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2 col-md-offset-3">
                    <p>Production</p>
                </div>
                <div class="col-md-2">
                    <p>230 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>4 Users</p>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2 col-md-offset-3">
                    <p>Development</p>
                </div>
                <div class="col-md-2">
                    <p>400 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>3 Users</p>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2 col-md-offset-3">
                    <p>QA</p>
                </div>
                <div class="col-md-2">
                    <p>0 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>0 Users</p>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
<ul>
  {{#each organization in model}}
  <li>
      <h3>{{organization.name}}</h3>
      {{#each workspace in organization.workspaces}}
        <li>{{#link-to 'jobs' workspace}}{{workspace.name}}{{/link-to}}</li>
      {{/each}}
      </li>
  {{/each}}
</ul>
