<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 truecron-org-header">
            <div class="row">
                <div class="col-md-8">
                   <h4>Organizations</h4>
                </div>
                <div class="col-md-4 text-right">
                    <a class="btn btn-signup btn-margin">ADD ORGANIZATIONS</a>
                </div>
            </div>
        </div>
      {{#each organization in model}}
          <div class="col-md-8 col-md-offset-2 truecron-org-title">
              <div class="row">
                  <div class="col-md-3">
                      <p class="org-title">{{organization.name}}</p>
                  </div>
                  <div class="col-md-2">
                      <p>3 Workspaces</p>
                  </div>
                  <div class="col-md-2">
                      <p>633 Jobs</p>
                  </div>
                  <div class="col-md-2">
                      <p>8 Users</p>
                  </div>
                  <div class="col-md-3 text-right">
                      <a href="#"><i class="fa fa-plus"></i> ADD WORKSPACE</a>
                  </div>
              </div>
          </div>
          <div class="col-md-8 col-md-offset-2 truecron-org-content">
            {{#each workspace in organization.workspaces}}
            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <p>{{#link-to 'jobs' workspace}}{{workspace.name}}{{/link-to}}</p>
                </div>
                <div class="col-md-2">
                    <p>3 Jobs</p>
                </div>
                <div class="col-md-2">
                    <p>1 User</p>
                </div>
            </div>
            {{/each}}
          </div>
      {{/each}}
    </div>
</div>
