<table class="allwidth">
    <tr>
        <td>
            <label class="label-br">Connection:</label>
            <div class="btn-group cron-drop">
                <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">Local</button>
                <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">create new...</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div class="input-section">
                <label class="label-br">Folders:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="D:\Data\EDI; C:\Projects;">
                       <span class="input-group-btn">
                       <button class="btn caret-cron" type="button"><i class="fa fa-ellipsis-h"></i></button>
                       </span>
                </div>
            </div>
        </td>
    </tr>
    <tr colspan="2">
        <td>
            <div class="input-section">
                <label class="label-br">File mask:</label>
                <input type="text" class="form-control" placeholder="*.csv; *.txt">
            </div>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">
            <div class="input-section">
                <label class="label-br">Output:</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="D:\Data\EDI\output.zip">
                       <span class="input-group-btn">
                       <button class="btn caret-cron" type="button"><i class="fa fa-ellipsis-h"></i></button>
                       </span>
                </div>
            </div>
        </td>
    </tr>
</table>