{{!-- vdm: no script type=text/x-handlebars here or inside. This is "static" handlebar --}}

<h1>TrueCron SDLC Test</h1>
<table border="1">
    <tr><td>Hello from Paul</td></tr>
    <tr><td>Hello from Natallia</td></tr>
    <tr><td>Hello from Dmitry</td></tr>
    <tr><td>Hello From Viny</td></tr>
    <tr><td>Hello world from Andrei!</td></tr>
    <tr><td>Hi from Lev!</td></tr>
    <tr><td>Hello from Vitalik!</td></tr>
    <tr><td>Hello from Vitali!</td></tr>
</table>