extends layouts/default

block content
  h1 TrueCron SDLC Test
  table(border=1)
    tr
      td Hello from Paul
    tr
      td Hello from Natallia
    tr
      td Hello from Dmitry
    tr
      td Hello From Viny
    tr
      td Hello world from Andrei!
    tr
      td Hi from Lev!
    tr
      td Hello from Vitalik!
    tr
      td Hello from Vitali!
