{{!-- vdm: no script type=text/x-handlebars here or inside. This is "static" handlebar --}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li>
        <a href="/hello/">
            <i class="fa fa-wrench"></i>  Hello World (old school)
        </a>
    </li>
    <li>
        \{{#link-to 'hello'}}
            <i class="fa fa-heart"></i>  Hello World (super cool)
        \{{/link-to}}
    </li>
    <li>
        \{{#link-to 'signin'}}
            <i class="fa fa-heart"></i>  Sign in
        \{{/link-to}}
    </li>
    <li>
        \{{#link-to 'signup'}}
            <i class="fa fa-heart"></i>  Sign up
        \{{/link-to}}
    </li>
</ul>