{{!-- vdm: no script type=text/x-handlebars here or inside. This is "static" handlebar --}}

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
    <li>
        \{{#link-to 'hello'}}
            <i class="fa fa-heart"></i>  Hello World (super cool)
        \{{/link-to}}
    </li>
</ul>