 {{#each elements itemController="check-box-item"}}
      <div class="checkbox checkbox-material-orange-700 pull-left">
          <label>
            {{view Ember.Checkbox checkedBinding="selected"}}
            {{label}}
          </label>
      </div>
  {{/each}}
