{{outlet}}
<div class="table-responsive">
    <table class="table table-striped lastrowborder">
        <tbody>
        {{#each}}
            {{#link-to "jobdetails.task" this tagName="tr" activeClass="activejobfirstbox"}}
                <td class="icon-row"></td>
                <td>{{taskType.name}}</td>
                <td>{{name}}</td>
                <td class="underline">0.68s</td>
            {{/link-to}}
        {{/each}}
        </tbody>
    </table>
</div>
