<header class="job-details-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group-material-orange-700">
                    <input {{bind-attr value=model.name}} class="form-control floating-label" id="jobName" placeholder="Job's name" data-hint="Give it a meaningful name" type="text"/>
                </div>
                {{!--<h3 class="job-title"><span class="orange-dashed">{{model.name}}</span></h3>--}}
            </div>
            <div class="col-md-1">
                <span class="btn btn-sm btn-truecron-icon"><i class="fa fa-trash fa-lg"></i></span>
            </div>
            <div class="col-md-6 truecron-tasks-header">
                <h3><span class="blue-dashed">Weekly on Monday, Friday, Thuesday, Sunday, Wensday at 12:32:00 PM</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 run-history-info">
                <h4>Triggered by <span class="truecron-grey">Lev Kurts</span></h4>
                <h4>on <span  class="truecron-grey">July 5</span> at <span  class="truecron-grey">12:32:00 AM PST,</span> time <span class="truecron-grey">0.68s</span> <a href="#" class="truecron-orange">(rev#1.06)</a></h4>
            </div>
            <div class="col-md-3 text-center">
                <h4>LAST RUN:</h4>
                <h4>July 6 12:32:00pm</h4>
            </div>
            <div class="col-md-3 text-center">
                <h4>LAST RUN:</h4>
                <h4>July 8 12:32:00pm</h4>
            </div>
        </div>
    </div>
</header>
<div class="job-details-body">
    <div class="row trucron-top-tasks">
        <div class="col-md-10">
            <div class="arrow_box" role="alert">
                <h3>Add Your first Task by Clicking Add Task!</h3>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-lg btn-signup"><i class="fa fa-plus"></i> New Task</a>
        </div>
    </div>

<hr>
<div class="panel-group truecron-accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading truecron-first-heading" role="tab" id="headingOne">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="col-md-2 text-center">
                    <p>delete</p>
                </div>
                <div class="col-md-2 text-center">
                    <p>clean folder</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>564 files were removed</p>
                </div>
                <div class="col-md-2 text-center trucron-underline">
                    <p>0.68 sec</p>
                </div>
                <div class="col-md-1 text-right">
                    <i class="fa fa-square"></i>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body truecron-panel-body">
                <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                <p>rm myFile*.txt</p>
                <p>rm -rf foldername</p>
                <p>rm -rf *</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading truecron-second-heading" role="tab" id="headingTwo">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="col-md-2 text-center">
                    <p>delete</p>
                </div>
                <div class="col-md-2 text-center">
                    <p>clean folder</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>564 files were removed</p>
                </div>
                <div class="col-md-2 text-center trucron-underline">
                    <p>0.68 sec</p>
                </div>
                <div class="col-md-1 text-right">
                    <i class="fa fa-square"></i>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body truecron-panel-body">
                <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                <p>rm myFile*.txt</p>
                <p>rm -rf foldername</p>
                <p>rm -rf *</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading truecron-error-heading" role="tab" id="headingTwo">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="col-md-2 text-center">
                    <p>delete</p>
                </div>
                <div class="col-md-2 text-center">
                    <p>clean folder</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>564 files were removed</p>
                </div>
                <div class="col-md-2 text-center trucron-underline">
                    <p>0.68 sec</p>
                </div>
                <div class="col-md-1 text-right">
                    <i class="fa fa-square"></i>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body truecron-panel-body">
                <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                <p>rm myFile*.txt</p>
                <p>rm -rf foldername</p>
                <p>rm -rf *</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading truecron-first-heading truecron-inactive-heading" role="tab" id="headingTwo">
            <div class="row">
                <div class="col-md-1">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="col-md-2 text-center">
                    <p>delete</p>
                </div>
                <div class="col-md-2 text-center">
                    <p>clean folder</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>564 files were removed</p>
                </div>
                <div class="col-md-2 text-center trucron-underline">
                    <p>0.68 sec</p>
                </div>
                <div class="col-md-1 text-right">
                    <i class="fa fa-square"></i>
                </div>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body truecron-panel-body">
                <p>rm myFile.txt myFile1.txt myFile2.txt …etc…</p>
                <p>rm myFile*.txt</p>
                <p>rm -rf foldername</p>
                <p>rm -rf *</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>
</div>
{{outlet}}
