/*
 * Main content
 */
.main {
    margin-top: 51px;
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 10px;
        padding-left: 0px;
    }
}
.main .page-header {
    margin-top: 0;
}

/* vm - border last row table */
.lastrowborder>tbody>tr>td {
    border-bottom: 1px solid #ddd;
}

.allwidth {
    width: 100%;
}

.buttonaccordion {
    width: 100%;
    height: 32px;
    text-align: left;
    background-color: white;
    border: 0px;
}