
/*item-email*/
.bodysmtp {
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: #333333;
    background-color: #ffffff;
    border-color: #10accc;
    border-radius: 0;
}

.selectsmtp {
    color: rgb(85, 85, 85);
    padding: 4px;
    border: 1px solid #10accc;
    font-size: 13px;
    background-color: white;
    width: 203px;
}

.stllink {
    color: #10accc;
    text-decoration: underline;
}

.chok {
    background-color: #fff;
    padding: 12px 12px 12px 12px;
    margin: 6px;
    border: 1px solid rgb(16, 172, 204);
}

input[type="form-control"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
.uneditable-input {
    background-color: #ffffff;
    padding: 2px 4px 4px 4px;
    font-size: 13px;
    color: #555555;
    border: 1px solid #10accc ;
    border-radius: 0;
}
/*end style item-email*/



