/* start signin style */
.chok {
    background-color: #fff;
    padding: 12px 30px 12px 30px;
    border: 1px solid rgb(16, 172, 204);
}
.orblk {
    margin-left: 10px;
}
.buttonsignin {
    margin-left: 213px;
}
/* end signin style */