/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
    color: #00B7FF;
}

.navbar-inverse {
    background-color: #465f7d;
    background-image: none;
    color:#fff;
    border-color: #ff9934;
}

.navbar-fixed-top {
    border-width: 0 0 2px;
}

.navbar-brand {
    background:url(../img/logo.png) no-repeat center;
    width: 168px;
}
/* Move down content because we have a fixed navbar that is 50px tall
body {
    padding-top: 50px;
}
*/

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        min-width: 275px;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #d9d9db;
        border-right: 6px solid #d8d8da;
        border-top: 6px solid #d8d8da;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-bottom: 20px; /* 20px padding + 1px border
    margin-right: -20px;
    margin-left: -20px;*/
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.navbar-nav.navbar-right:last-child {
    margin: 5px 0;
}

.nav .fa-bars {
    padding-left: 5px;
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
    vertical-align: middle;
}

.first_row {
    font-size: 30px;
}

.blue_row {
    color:#08a5ce;
    text-decoration: underline;
}

.red_row {
    color: #ff0000
}

.underline {
    text-decoration: underline;
}

.sidebar .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #f4f4f4;
    color: #ff9e40;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    border: solid 6px #c9c9cb;
    text-align: center;
}
.sidebar .nav-tabs > li > a {
    border-radius: 0;
    color: #bcbcbe;
    font-size: 20px;
    font-weight: bold;
    border: solid 6px #c9c9cb;
    border-top: solid 6px #d8d8da;
    margin-right: 0;
}
.sidebar .active span {
    color:#474747
}

.col-sm-3 {
    padding-left: 6px;
    padding-right: 0;
}
.sidebar .btn-group, .btn-group-vertical{
    padding: 10px 6px;
    background-color: #fff;
    width: 100%;
}

.fa {
    color: #ff982f;
}

.fa-plus:before {
    padding-right: 5px;
}

.sidebar .btn-group > .btn {
    background-color: #fff;
    border-radius: 0;
    border: solid 1px #13afc8;
    margin-right: 5px;
}

.sidebar .btn-default {
    background-image: none;
}

.sidebar .btn-group {
    border-bottom: solid 5px #c9c9cb;
}
.menu-tabs {
    background: linear-gradient(#f9f9f9, #efefef);
    border-bottom: solid 5px #c9c9cb;
}

.menu-tabs .col-xs-9 {
    color: #484848;
    padding: 5px;
}

.menu-tabs .col-xs-9 .title {
    font-weight: bold;
}

.sharelink {
    float: right;
}

#jobinput {
    width: 100%;
}

.row {
    margin: 0;
}

.sidebar .fa-exclamation-circle {
    color: #fe0000;
    font-size: 23px;
    line-height: 3.5em;
}

.sidebar .col-xs-2 {
    padding-left: 10px;
    padding-right: 5px;
}

.first_row .fa {
    padding-left: 10px;
}

.fa-chevron-down {
    color: #00aecf;
    padding-right: 10px;
}

.btn-cron {
    background-image: none;
    background-color: #fff;
    border: solid 1px #00aecf;
    border-radius: 0;
    width: auto;
    min-width: 200px;
    text-align: left;
}

.caret-cron {
    width:auto;
    background-image: none;
    background-color: #fff;
    border: solid 1px #00aecf;
    border-radius: 0;
}

.cron-drop .dropdown-menu {
    width: 100%;
    border: solid 1px #00aecf;
    border-radius: 0;
    box-shadow: none;
}

.label-br {
    display: block;
}

.input-section {
    padding-top: 20px;
}

.form-control {
    border: solid 1px #00aecf;
    border-radius: 0;
}

.check-cron {
    background-color: #fff;
    border-radius: 0;
    border: solid 1px #00aecf;
}

.input-section .col-lg-3 {
    padding-left: 0px;
}

.fa-chevron-right {
    color: #00aecf;
    padding-right: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 20px;
    width: 400px;
    class: responsiv;
    width : 265px;
    width: 534px;
}


/* home page style */

div.backglp {   /* background */
    background-image : url(../img/bgr.jpg) ;
    width: 100%;
    background-attachment: fixed;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    font-family: Trebuchet MS;
}

div.formlp {  /* form landing page */
    width: 518px;
    height: 557px;
    background-color: #ffffff;
    margin-bottom: 50px;
}

div.contlp {
    /* content landing page */
    align-content: center;
}

div.heightblock {
    height: 35px;
}

div.hdfm {   /* "Sign in using your e-mail" */
    height: 50px;
    background-color: #f4f4f4;
    text-align: center ;
    color-text: 5a5a5a;
    align-content : center;
    font-family: Trebuchet MS;
    text-padding: 1 0;
    text-line-height: 2.1;
    margin-bottom:25px;
    font-style: normal;
}


.input-block-level {  /* block sign in / up */
    width: 324px;
    height: 40px;
    margin-bottom:15px;
    border-color: #10accc;
    padding: 15px;
    color-text: #666666;
}
.tablechc {
    size-text: 12pt;
    width: 320px;
    height: 40px;
    border-spacing: 0;
}

.btnhfree {
    width: 110px;
    height: 40px;
    border-size: 2px;
    border-radius: 0;
    border-color: #10accc;
}

.chkbxlendp {
    width: 20px;
    height: 20px;
    border-radius: 0;
    border-color: #10accc;
}

div.contlp {
    width: 518px;
    min-width: 400px;
    height: 557px;
    background-color: #ffffff;
    align-content: center;

}


.sngl {
    align: center;
    width: 320px;
    height: 40px;
    border: 1px;
    border-color: #10accc;
}

.dnth {
    color-text: #10accc;
}
/* end home page style*/
}



/* start style partial autentification*/
.backglp {   /* background image; */
    width: 100%;
    height: 100%;
    background-size : cover ;
    background-image : url(../img/bgr.jpg);
    padding: 0 0 0 0;
    moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    font-family: Trebuchet MS;
}

.formlp {
    width: 518px;
    height: 557px;
    background-color: #ffffff;
    margin:auto auto 5px;
    margin-top: 20%;
}

.heightblock {
    height: 35px;
}

.hdfm {   /*block "Sign in using your e-mail" */
    height: 50px;
    background-color: #f4f4f4;
    text-align: center ;
    color-text: 5a5a5a;
    font-family: Trebuchet MS;
    margin-bottom:25px;
}

.h3sign {
    height: 36px;
    margin-top: 10px;
    padding-top: 10px;
}

.inpblchp {  /* style input login end password*/
    width: 324px;
    height: 40px;
    margin-bottom:15px;
    border-color: #10accc;
    border-style: solid;
    padding: 15px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.checkboxhpg {
    border-color:#10accc;
    width:165px;
}

.chkbxlendp {
    width: 20px;
    height: 20px;
}

.btnsgnlpg {
    text-transform: uppercase;
    weight: 110px;
    height: 40px;
    align: left;
    margin-left: 41%;
    border-radius: 0px;
    padding: 0px 30px 0px 30px;
    text-size: 14pt;
    text-decoration: none;
    border: 1px solid #10accc;
}
/* end style partial autentification*/

/* start signin style */
.chok {
    background-color: #fff;
    padding: 12px 30px 12px 30px;
    border: 1px solid rgb(16, 172, 204);
}
.orblk {
    margin-left: 10px;
}
.buttonsignin {
    margin-left: 213px;
}
/* end signin style */