/*
 taskdetails.html page - style
 */
.fa-bars,
.fa-plus,
.fa-pencil,
.fa-sign-out,
.fa {
    color: #ff982f;
}

.navbar-inverse {
    background-color: #465f7d;
    background-image: none;
    color:#fff;
    border-bottom: 2px Solid #ff9934;
}

.navbar-brand {
    background:url(../img/logo.png) no-repeat center;
    width: 168px;
}

.navbar-inverse .navbar-nav > li > a {
    color: White;
}
.navbar-right {
    color: White;
}

.btn-default {
    border-radius: 0;
    border-color: #00aecf;
    background-color: #ffffff;
    background-image: none;
    padding: 6px 12px;
}

.activejobfirstbox {
    border-left: solid 4px #ff9e2f;
}

.activejoblastbox {
    background: url("../img/arrow.png") no-repeat right center;
}

.pulltab {
    background-image: url("../img/btn1.png");
}

.divborderleft {
    border-right-style:solid;
    border-right-width:4px;
    border-color:#d9d9db;
    padding-right: 0px;
    padding-left: 0px;
    border-left-style:solid;
    border-left-width:8px;
    background-color: #ffffff;
    height: 100%;
}

.divborderright {
    border-right-style:solid;
    border-right-width:8px;
    border-color:#d9d9db;
    padding-right: 10px;
    padding-left: 10px;
    border-left-style:solid;
    border-left-width:2px;
    background-color: #ffffff;
    height: 100%;
}

.allwidth {
    width: 100%;
}

.col-md-6 {
    height: 875px;
}

.lastrowborder>tbody>tr>td {
    border-bottom: 1px solid #ddd;
}

.buttonaccordion {
    width: 100%;
    height: 32px;
    text-align: left;
    background-color: white;
    border: 0px;
}

/* style manageorganization page */
.textblockbr {
    width: 100%;
    border: 2px #005888;
    background-color: #bcbcbe;
}

.mainx {
    padding-top: 0px;
    padding-right: 0px;
}

.alignright {
    vertical-align: top;
    valign: top;
    align-content: flex-start;
}
/* jobs /2 */
.smallpadding {
    padding: 0px;
}