/*
 *
 * dv: here must be overriding rules of standard bootstrap elements
 *
 */
.fa {
    color: #ff982f;
}

.navbar-inverse {
    background-color: #465f7d;
    background-image: none;
    color:#fff;
    border-bottom: 2px Solid #ff9934;
}

.navbar-brand {
    background:url(../img/logo.png) no-repeat center;
    width: 168px;
}

.navbar-inverse .navbar-nav > li > a {
    color: White;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #465f7c;
}

.dropdown-menu .divider {
    background-color: #1db0ce;
}

.dropdown-menu {
    border: 1px solid #1db0ce;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #f6f6f6;
    background-image: none;
    border-left: solid 4px #ffa041;
    margin: 0 3px;
}