/*
 *
 * dv: here must be overriding rules of standard bootstrap elements
 *
 */
.fa {
    color: #ff982f;
}

.navbar-inverse {
    background-color: #465f7d;
    background-image: none;
    color:#fff;
    border-bottom: 2px Solid #ff9934;
}

.navbar-brand {
    background:url(../img/logo.png) no-repeat center;
    width: 168px;
}

.navbar-inverse .navbar-nav > li > a {
    color: White;
}