<script type="text/x-handlebars" data-template-name="interface-tab-connections">
    <div class="btn-group">
        <button \{{action "addConnection"}} type="button" class="btn btn-default"><i class="fa fa-plus"></i>Add Connection</button>
        <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
        <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </div>
    <div class="menu-tabs">
        <div class="row">
            <div class="col-xs-2">
                <span></span>
            </div>
            <div class="col-xs-9">
                <p class="title">\{{#link-to "connections-item"}}SC FTP\{{/link-to}}</p>
                <p>SFTP</p>
            </div>
        </div>
    </div>
    <div class="menu-tabs">
        <div class="row">
            <div class="col-xs-2">
                <span></span>
            </div>
            <div class="col-xs-9">
                <p class="title">\{{#link-to "connections-item"}}im-90380485\{{/link-to}}</p>
                <p>agent</p>
            </div>
        </div>
    </div>
    <div class="menu-tabs">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-exclamation-circle fa-5"></i>
            </div>
            <div class="col-xs-9">
                <p class="title">\{{#link-to "connections-item"}}s3.servicechannel.com\{{/link-to}}</p>
                <p>amazon s3</p>
            </div>
        </div>
    </div>
</script>