.selectize-control.multi .selectize-input, .selectize-control.multi .selectize-input.input-active {
  border: 1px solid #78909C;
  padding: 2px 0; }

.selectize-control.plugin-remove_button [data-value] .remove {
  padding: 0; }

.selectize-control.single .selectize-input > div, .selectize-control.multi .selectize-input > div, .selectize-control.single .selectize-input.input-active > div, .selectize-control.multi .selectize-input.input-active > div, .selectize-control.single .selectize-input > .item, .selectize-control.multi .selectize-input > .item, .selectize-control.single .selectize-input.input-active > .item, .selectize-control.multi .selectize-input.input-active > .item {
  padding: 0 12px;
  margin: 0 4px 0 0; }

.selectize-control.multi .selectize-input [data-value] {
  background-color: #6c939e !important;
  background-image: none;
  border-radius: 0px; }

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left: solid 1px #abc0c7; }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left: solid 1px #abc0c7; }

.selectize-control.multi .selectize-input.has-items {
  padding: 2px 8px; }

.selectize-control.multi .selectize-input [data-value].active {
  background-color: #78909c;
  background-image: none; }

.spin {
  background: url("logo_loader.png") no-repeat;
  width: 29px;
  height: 29px;
  margin: 24px 0 0 24px;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.loading {
  padding-left: 10px;
  color: #44707c; }

.loading-group {
  border: 0 !important; }

.loading-position {
  padding-top: 200px; }

/*main */
body {
  background-color: #eceff1;
  color: #464748; }

.dropdown-menu .divider {
  background-color: #cfd8dc; }

.dropdown-menu li a:hover {
  background-color: #eceff1; }

.ember-application .no-ember {
  display: none; }

.truecron-nav-icon {
  color: #fa5b00;
  margin-top: 3px; }

.navbar {
  min-height: 60px; }

.btn {
  padding: 8px 20px; }

.list-group .list-group-item {
  border: 1px solid #cfd8dc; }

.list-group .list-group-item .list-group-item-heading {
  color: rgba(0, 0, 0, 0.77);
  font-size: 14px;
  line-height: 20px; }

hr {
  border-top: 1px solid #c2c6c7; }

.btn-signup {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.btn-signup:hover, .btn-signup:active {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.btn-signin {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: solid 1px #ff4e00; }

.panel {
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

a {
  color: #009dfe; }

.truecron-bottom-border {
  border-bottom: solid 1px #cccccc; }

/* teaser page styles */
.teaser {
  font-family: "Trebuchet MS";
  font-size: 16pt; }

.teaser .container-fluid {
  max-width: 1200px; }

.topper {
  background: black url("teaser_bg.jpg") no-repeat center top; }

.navbar .navbar-form {
  margin-top: 0;
  margin-bottom: 0; }

.teaser .jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  box-shadow: none; }

.teaser .topper .jumbotron {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

.teaser .middle .jumbotron {
  padding: 0; }

.navbar-brand-teaser {
  background: url("white-logo-teaser.png") no-repeat center;
  width: 270px; }

.navbar-brand-truecron {
  background: url("white-logo.png") no-repeat center;
  width: 70px; }

.teaser .col-xs-3 {
  width: 30%; }

.teaser .col-xs-9 {
  width: 70%; }

h2.pitch {
  text-align: center;
  font-size: 32pt;
  color: #ffffff;
  padding: 30px 0 5px; }

.pitch-ext {
  text-align: left;
  color: white;
  font-size: 24px;
  padding-top: 20px; }

.teaser .pitch-ext p {
  margin: 3px 0;
  font-size: 25px; }

.interested_box p {
  font-size: 16px; }

.teaser .interested_box .btn-signup {
  background-image: none;
  background-color: white;
  color: #ff9719;
  text-shadow: none; }

.interested_box .btn:hover, .btn:focus {
  color: #333333; }

.top_mac {
  background: url("top_mac.png") no-repeat top right;
  height: 336px; }

.bottom_mac {
  background: url("bottom_mac.png") no-repeat top right;
  height: 301px; }

.interested_box {
  background-color: #ff9719;
  color: white;
  margin-top: 20px; }

.problem-definition-header {
  color: #ff9719;
  text-align: center;
  font-size: 58px;
  font-weight: bold; }

.airbag {
  background: url("airbag.jpg") no-repeat left top;
  height: 569px; }

.footer_white {
  background-color: white; }

.footer_grey {
  background-color: #e3e3e3; }

.footer_white .problem-definition-header,
.footer_grey .problem-definition-header {
  font-size: 24px;
  text-align: left;
  padding-top: 30px; }

.footer_white .jumbotron,
.footer_grey .jumbotron {
  padding-top: 0;
  padding-bottom: 0; }

.footer_white p {
  line-height: 35px; }

.middle {
  background: url("teaser_border.png") repeat-x top; }

.library {
  background: url("library.jpg") no-repeat top left;
  height: 466px; }

.ballet {
  background: url("teaser_ballet.jpg") no-repeat top;
  height: 477px; }

.hands {
  background: url("teaser_hands.jpg") no-repeat;
  height: 286px; }

.grow {
  background: url("teaser_grow.jpg") no-repeat;
  height: 320px; }

.middle_grey {
  background-color: #d7d7d7; }

.middle_white {
  background-color: #ffffff; }

.words {
  background: url("teaser_words.png") no-repeat;
  height: 337px; }

.middle_grey .jumbotron p {
  text-align: center;
  font-size: 28px; }

.teaser ul {
  margin-top: 30px;
  list-style-image: url("li.png"); }

.teaser li {
  padding-bottom: 15px; }

.teaser .interested_box .form-control {
  border-color: #ff9818;
  border-radius: 0px; }

.teaser footer {
  background-color: black;
  color: white;
  text-align: center; }

.teaser footer .jumbotron p {
  font-size: 14px; }

.teaser .navbar-fixed-top {
  border: 0; }

.teaser .navbar-border {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px;
  margin-top: 0; }

/* sign-in sign-up */
.container-truecron {
  margin-top: 60px; }

.g_sign {
  padding-top: 62px; }

.input-xl {
  font-size: 24px; }

.g_btn {
  border: solid 1px #b2babc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }

.g_btn .fa {
  color: #ff2a34; }

.col-border-right {
  border-right: solid 1px #c2cacd; }

.col-border-top {
  border-top: solid 1px #c2cacd; }

/*sidebar */
tr:nth-child(even) {
  background-color: #f5f5f5; }

tr:nth-child(odd) {
  background-color: #fafafa; }

.btn-back {
  color: #ef6c00; }

.btn-back-padding {
  padding-top: 8px; }

.sidebar-table {
  margin-bottom: 0; }

.truecron-table-header {
  background-color: #f5f5f5;
  border-top: solid 1px #e4e4e4; }

.truecron-panel-btn {
  margin: 0 1px; }

.truecron-panel-title {
  padding: 8px 0; }

.btn-new-job {
  border: 1px solid transparent; }

.truecron-side-panel {
  margin-bottom: 0;
  border-top: solid 1px #cfd8dc; }

.sidebar-title-margin {
  margin-top: 11px; }

.content-title-margin {
  margin-top: 6px; }

.content-tag-margin {
  margin-top: 4px; }

.list-group .list-group-item {
  padding: 10px 15px; }

.sidebar {
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 60px;
  left: 0px;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #cfd8dc; }

.btn.btn-sm {
  padding: 6px 12px; }

.panel-heading .btn-signin .fa-long-arrow-left {
  color: #ff4e00; }

.panel-default > .panel-heading {
  background-color: #f6f6f6;
  background-image: none;
  border-bottom: solid 1px #b9cdd8; }

.panel-heading .col-md-12 {
  padding-top: 15px; }

.panel-heading .col-md-12 .fa-plus {
  padding-right: 10px; }

.truecron-sidebar-padding {
  padding-left: 7px; }

.no-padding {
  padding-left: 0px;
  padding-right: 0px; }

.panel-default {
  border: none; }

.truecron-group-item:nth-child(even) {
  background-color: #f5f5f5; }

.truecron-group-item:nth-child(odd) {
  background-color: #fafafa; }

a.list-group-item:hover, a.list-group-item:active, a.list-group-item:focus {
  background: #eceff1; }

.truecron-job-item-p {
  color: #74838a; }

.truecron-job-item-span {
  color: #303030; }

.neverrun-job {
  color: #888888; }

.failed-job {
  color: red; }

.success-job {
  color: #00ee05; }

.running-job {
  color: #35617e; }

.truecron-job-label {
  background-color: #baced7;
  color: #303030; }

.panel-default > .truecron-panel-heading {
  background: -webkit-linear-gradient(#f9f9f9, #e9e9e9);
  background: -o-linear-gradient(#f9f9f9, #e9e9e9);
  background: -moz-linear-gradient(#f9f9f9, #e9e9e9);
  background: linear-gradient(#f9f9f9, #e9e9e9); }

.truecron-caret {
  color: #fa5b00;
  margin-right: 5px; }

.truecron-tab-p {
  margin: 8px 0;
  color: #464748; }

.truecron-sub-menu {
  background: -webkit-linear-gradient(#f9f9f9, #e9e9e9);
  background: -o-linear-gradient(#f9f9f9, #e9e9e9);
  background: -moz-linear-gradient(#f9f9f9, #e9e9e9);
  background: linear-gradient(#f9f9f9, #e9e9e9);
  border-bottom: solid 1px #beccd4; }

.list-group .truecron-sub-menu {
  padding-bottom: 0px;
  padding-top: 0px; }

.truecron-sub-menu .fa-sort, .truecron-sub-menu .fa-sort-desc {
  padding-left: 5px;
  color: #aaa8a8; }

.truecron-tab-active {
  background-color: #eceff1 !important;
  background-image: none;
  border-left: 3px solid #f06a21; }

.truecron-active-border {
  border-left: 3px solid #f06a21 !important; }

.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0 1px 3px;
  border-left: transparent; }

.panel-without-margin {
  margin-bottom: 0px;
  border-bottom: 1px solid #cfd8dc; }

.truecron-tab-failed {
  background-color: #f6edee;
  background-image: none; }

.list-group .list-group-item .truecron-tab-normal {
  background-color: #f7f9fa;
  background-image: none; }

.truecron-sub-filter {
  background-color: #f6f6f6;
  background-image: none; }

.caret-right {
  float: right;
  margin-top: 8px;
  white-space: normal; }

.truecron-form-control {
  border-radius: 0px; }

/*workspaces */
.job-details-header {
  background-color: white;
  padding-top: 10px; }

.btn-truecron-icon .fa-trash {
  color: #ee6820; }

.job-title {
  color: #ee6820; }

.trucron-tasks-header {
  text-align: center; }

.job-details-header {
  background-color: white; }

.run-history-info {
  background-color: #eceff1; }

.run-history-info h4 {
  color: #74838a; }

.truecron-grey {
  color: #69757b; }

.truecron-orange {
  color: #ee6820; }

.run-history-info a {
  text-decoration: underline; }

.trucron-tasks-header {
  text-align: center; }

.trucron-tasks-header h3 {
  color: #3399ff; }

.trucron-top-tasks {
  padding-top: 10px; }

.arrow_box {
  position: relative;
  background: #fff9e6;
  border: 1px solid #fee798;
  text-align: center; }

.arrow_box h3 {
  margin-top: 10px;
  color: #666666; }

.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 249, 230, 0);
  border-left-color: #fff9e6;
  border-width: 7px;
  margin-top: -7px; }

.arrow_box:before {
  border-color: rgba(254, 231, 152, 0);
  border-left-color: #fee798;
  border-width: 8px;
  margin-top: -8px; }

/* workspaces accordion */
.truecron-accordion .truecron-panel-body {
  background-color: #eceff1;
  color: #464748; }

.truecron-accordion .truecron-first-heading {
  color: #464748;
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc; }

.truecron-accordion p {
  margin: 0; }

.truecron-inactive-heading p, .truecron-inactive-heading {
  color: #cccccc; }

/* Organizations */
.truecron-org-header {
  background-color: #d4dcdf;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px; }

.truecron-org-title {
  background-color: #dbf2fa;
  padding-top: 6px; }

.org-title {
  color: #ff7e44;
  font-weight: bold; }

.truecron-org-content {
  padding-top: 6px;
  border-bottom: 1px solid #c4c8d1; }

/*index page */
.truecron-index-header {
  background-color: white;
  width: 100%; }

.arrow_box-left {
  position: relative;
  background: #fff9e6;
  border: 1px solid #fee798;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 18px; }

.arrow_box-left h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #666666; }

.arrow_box-left:after, .arrow_box-left:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box-left:after {
  border-color: rgba(255, 249, 230, 0);
  border-right-color: #fff9e6;
  border-width: 7px;
  margin-top: -7px; }

.arrow_box-left:before {
  border-color: rgba(254, 231, 152, 0);
  border-right-color: #fee798;
  border-width: 8px;
  margin-top: -8px; }

.truecron-index-body {
  border: solid 1px #fee798;
  background-color: #fffcf2;
  margin-top: 10px;
  padding-right: 5px; }

.complex_task_icon {
  background: url("complex_task_icon.png") no-repeat 20px 25px;
  height: 66px; }

.complex_task_git {
  background: url("git_icon.png") no-repeat 20px 30px;
  height: 81px; }

.complex_task_icon_cog {
  background: url("icon-cog-blue.png") no-repeat 20px 30px;
  height: 81px; }

/*Organization*/
.organization-panel-body {
  padding: 0; }

/*add new job */
.truecron-checkbox-margin .radio + .radio, .checkbox + .checkbox {
  margin: 10px 20px 10px 0; }

.truecron-panel-body {
  background-color: #eceff1;
  background-image: none;
  border: none; }

.truecron-panel {
  box-shadow: none; }

.truecron-panel-heading {
  border-radius: 0px; }

.truecron-task-panel-heading {
  border-radius: 0px;
  padding: 23px 15px; }

.sidebar-table .navbar-collapse .truecron-tasks-nav li > a {
  padding-top: 11px;
  padding-bottom: 11px; }

.truecron-navbar {
  min-height: 42px; }

.truecron-p-padding {
  padding-left: 20px; }

.truecron-p-double-padding {
  padding-left: 40px; }

.truecron-exclusion-border {
  border-bottom: solid 1px #cccccc; }

.truecron-exclusion-border:first-child {
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #cccccc; }

.truecron-no-margin {
  margin: 0; }

/* new task*/
.truecron-new-task-title {
  background-color: #ffffff;
  border-top: solid 1px #cccccc;
  padding: 20px 10px; }

.panel-footer-material-blue-grey-200 {
  background-color: #b0bec5;
  padding: 5px; }

.truecron-task-btn {
  margin: 0 1px 10px; }

.truecron_checkbox {
  margin-top: 5px; }

/*Organization page*/
.truecron-navbar .truecron-org-tabs > .active > a, .truecron-navbar .truecron-org-tabs > .active > a:hover, .truecron-navbar .truecron-org-tabs > .active > a:focus,
.truecron-navbar .truecron-org-tabs > li > a, .truecron-navbar .truecron-org-tabs > li > a:hover, .truecron-navbar .truecron-org-tabs > li > a:focus {
  color: #ffffff; }

.truecron-well-active {
  color: #ffffff; }

.truecron-well-inactive h4, .truecron-well-inactive h3 {
  color: #44707c; }

.truecron-well-inactive h1 {
  color: #6c939e; }

.truecron-well-inactive h2 {
  color: #ff5c00; }

.free-pan-container {
  padding: 55px 0; }

.truecron-your-plan {
  margin: 10px 0;
  padding: 8px 0; }

/*# sourceMappingURL=app.css.map */
