/*main */
body {
  background-color: #ecf6f8;
  color: #464748; }
  body .btn-signup {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background-color: #ff4e00;
    color: #fff; }
  body .btn-signin {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    color: #464748;
    border: solid 1px #ff4e00; }

/* teaser page styles */
.teaser {
  font-family: "Trebuchet MS";
  font-size: 16pt;
  /*background-image: url('../img/bg-apple-with-logo.jpg'); */
  /*background-size: 100% auto; */
  /*background-repeat: no-repeat; */ }

.teaser .container-fluid {
  max-width: 1200px; }

.topper {
  background: #000 url("teaser_bg.jpg") no-repeat center top; }

.navbar-teaser {
  background-color: rgba(53, 97, 126, 0.6); }

.teaser .jumbotron {
  background-color: transparent;
  margin-bottom: 0; }

.teaser .topper .jumbotron {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0; }

.teaser .middle .jumbotron {
  padding: 0; }

.navbar-brand-teaser {
  background: url("white-logo.png") no-repeat center;
  width: 270px; }

.teaser .col-xs-3 {
  width: 30%; }

.teaser .col-xs-9 {
  width: 70%; }

h2.pitch {
  text-align: center;
  font-size: 32pt;
  color: #fff;
  padding: 20px 0 15px; }

.pitch-ext {
  text-align: left;
  color: #fff;
  font-size: 24px;
  padding-top: 20px; }

.teaser .pitch-ext p {
  margin: 3px 0;
  font-size: 25px; }

.interested_box p {
  font-size: 16px; }

.teaser .interested_box .btn-signup {
  background-image: none;
  background-color: #fff;
  color: #ff9719;
  text-shadow: none; }

.interested_box .btn:hover, .btn:focus {
  color: #333; }

.top_mac {
  background: url("top_mac.png") no-repeat top right;
  height: 336px; }

.bottom_mac {
  background: url("bottom_mac.png") no-repeat top right;
  height: 301px; }

.interested_box {
  background-color: #ff9719;
  color: #fff;
  margin-top: 20px; }

.problem-definition-header {
  color: #ff9719;
  text-align: center;
  font-size: 58px;
  font-weight: bold; }

.airbag {
  background: url("airbag.jpg") no-repeat left top;
  height: 569px; }

.footer_white {
  background-color: #fff; }

.footer_grey {
  background-color: #e3e3e3; }

.footer_white .problem-definition-header,
.footer_grey .problem-definition-header {
  font-size: 24px;
  text-align: left;
  padding-top: 30px; }

.footer_white .jumbotron,
.footer_grey .jumbotron {
  padding-top: 0;
  padding-bottom: 0; }

.footer_white p {
  line-height: 35px; }

.middle {
  background: url("teaser_border.png") repeat-x top; }

.library {
  background: url("library.jpg") no-repeat top left;
  height: 466px; }

.ballet {
  background: url("teaser_ballet.jpg") no-repeat top;
  height: 477px; }

.hands {
  background: url("teaser_hands.jpg") no-repeat;
  height: 286px; }

.grow {
  background: url("teaser_grow.jpg") no-repeat;
  height: 320px; }

.middle_grey {
  background-color: #d7d7d7; }

.middle_white {
  background-color: #fff; }

.words {
  background: url("teaser_words.png") no-repeat;
  height: 337px; }

.middle_grey .jumbotron p {
  text-align: center;
  font-size: 28px; }

.teaser ul {
  margin-top: 30px;
  list-style-image: url("li.png"); }

.teaser li {
  padding-bottom: 15px; }

.teaser .interested_box .form-control {
  border-color: #ff9818;
  border-radius: 0px; }

/*.teaser .btn
 * border-radius: 0px */
.teaser footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center; }

.teaser footer .jumbotron p {
  font-size: 14px; }

/*.teaser .btn-signin
 * text-shadow: 0px 1px 0px #ffffff
 * background-image: linear-gradient(to bottom, #ffffff 0px, #ffffff 100%)
 * background-repeat: repeat-x
 * border-color: #ff9933 */
/*.teaser .btn-signup
 * text-shadow: 0px 1px 0px #ff9933
 * background-image: linear-gradient(to bottom, #F93 0px, #F93 100%)
 * background-repeat: repeat-x
 * border-color: #ff9933
 * color: #ffffff */
.teaser .navbar-fixed-top {
  border: 0; }

.teaser .navbar-border {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px;
  margin-top: 0; }

/* sign-in sign-up */
.container-truecron {
  margin-top: 50px; }

.g_sign {
  padding-top: 62px; }

.g_btn {
  background-color: #fff;
  border: solid 1px #b2babc;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  color: #707070; }

.g_sign .fa {
  color: #ff2a34; }

.col-border-right {
  border-right: solid 1px #c2cacd; }

.col-border-top {
  border-top: solid 1px #c2cacd; }

/*# sourceMappingURL=app.css.map */
