<div class="container-fluid container-truecron">
    <div class="row">
        <br>
        <div class="col-md-2">
            <div class="form-group-material-orange-700">
                <select class="form-control" placeholder="Organization">
                    <option>Naviam/Truecron</option>
                    <option>Apple</option>
                    <option>Walmart</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-12">
          <div class="panel panel-material-blue-grey-200">
              <div class="panel-heading truecron-panel-heading">
                  <div class="row">
                      <div class="col-md-9">
                          <h3 class="panel-title truecron-panel-title">Billing Information</h3>
                      </div>
                      <div class="col-md-3 text-right">
                          <a class="btn btn-material-blue-grey-400 text-right truecron-panel-btn">EDIT</a>
                      </div>
                  </div>
              </div>
              <div class="panel-body truecron-panel-body organization-panel-body">
                  <div class="container-fluid">
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>Credit Card</h5>
                          </div>
                          <div class="col-md-9">
                              <h5>434356******5434</h5>
                          </div>
                      </div>
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>Expiry Date</h5>
                          </div>
                          <div class="col-md-9">
                              <h5>05/2016</h5>
                          </div>
                      </div>
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>Name On Card</h5>
                          </div>
                          <div class="col-md-9">
                              <h5>John Smith</h5>
                          </div>
                      </div>
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>Country</h5>
                          </div>
                          <div class="col-md-9">
                              <h5>United States</h5>
                          </div>
                      </div>
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>State / Province</h5>
                          </div>
                          <div class="col-md-9">
                              <h5>New York</h5>
                          </div>
                      </div>
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>Zip Code</h5>
                          </div>
                          <div class="col-md-9">
                              <h5>44334</h5>
                          </div>
                      </div>
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>Billing Period:</h5>
                          </div>
                          <div class="col-md-9">
                              <h5>Feb 19, 2015  to  Mar 18, 2015</h5>
                          </div>
                      </div>
                      <div class="row truecron-bottom-border">
                          <div class="col-md-3">
                              <h5>Notes on Receipt</h5>
                          </div>
                          <div class="col-md-9">
                              <h5></h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <h3 class="panel-title truecron-panel-title">Payment History</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body truecron-panel-body organization-panel-body">
                    <div class="container-fluid">
                        <div class="row truecron-bottom-border">
                            <div class="col-md-3">
                                <h5>2015/03/19</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>434356******5434</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>view receipt</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>$9.9 USD</h5>
                            </div>
                        </div>
                        <div class="row truecron-bottom-border">
                            <div class="col-md-3">
                                <h5>2015/02/20</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>434356******5434</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>view receipt</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>$9.9 USD</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
