<div class="container-fluid container-truecron">
    <div class="row">
        <br>
        <div class="col-md-2">
            <div class="form-group-material-orange-700">
                <select class="form-control" placeholder="Organization">
                    <option>Naviam/Truecron</option>
                    <option>Apple</option>
                    <option>Walmart</option>
                </select>
            </div>
        </div>
    </div>
  <br>
    <div class="panel" role="tabpanel" aria-labelledby="task">
        <div class="navbar navbar-material-blue-grey-200 sidebar-table truecron-navbar">
            <div class="navbar-collapse collapse navbar-material-blue-grey-collapse">
                <ul class="nav navbar-nav truecron-org-tabs">
                    <li class="active"><a href="#plans" aria-controls="plans" role="tab" data-toggle="tab">PLANS AND SUBSCRIPTIONS</a></li>
                    <li><a href="#members" aria-controls="members" role="tab" data-toggle="tab">MEMBERS</a></li>
                    <li><a href="#workspaces" aria-controls="workspaces" role="tab" data-toggle="tab">WORKSPACES</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="panel-body truecron-panel-body tab-pane active" id="plans">
                <div class="row">
                    <div class="col-md-4">
                        <div class="well well-material-orange-700 text-center truecron-well-active">
                            <h1><strong>Free Plan</strong></h1>
                            <h3>10 Jobs</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well text-center truecron-well-inactive">
                            <h4>Upgrade to</h4>
                            <h1><strong>Team</strong></h1>
                            <h3>100 Jobs</h3>
                            <h2>$ 9.99</h2>
                            <h4>per month</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well text-center truecron-well-inactive">
                            <h4>Upgrade to</h4>
                            <h1><strong>Professional</strong></h1>
                            <h3>1000 Jobs</h3>
                            <h2>$ 99.99</h2>
                            <h4>per month</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-material-blue-grey-200">
                            <div class="panel-heading truecron-panel-heading">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3 class="panel-title truecron-panel-title">Billing Information</h3>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <a class="btn btn-material-orange-800 text-right truecron-panel-btn">EDIT</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body truecron-panel-body organization-panel-body">
                                <div class="container-fluid">
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Credit Card</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5>434356******5434</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Expiry Date</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5>05/2016</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Name On Card</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5>John Smith</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Country</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5>United States</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>State / Province</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5>New York</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Zip Code</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5>44334</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Billing Period:</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5>Feb 19, 2015  to  Mar 18, 2015</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Notes on Receipt</h5>
                                        </div>
                                        <div class="col-md-9">
                                            <h5></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-material-blue-grey-200">
                            <div class="panel-heading truecron-panel-heading">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="panel-title truecron-panel-title">Payment History</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body truecron-panel-body organization-panel-body">
                                <div class="container-fluid">
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>2015/03/19</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>434356******5434</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>view receipt</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>$9.9 USD</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>2015/02/20</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>434356******5434</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>view receipt</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>$9.9 USD</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="panel-body truecron-panel-body tab-pane" id="members">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-material-blue-grey-200">
                            <div class="panel-heading truecron-panel-heading">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3 class="panel-title truecron-panel-title">Account Members</h3>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <a class="btn btn-material-orange-800 text-right truecron-panel-btn">INVITE USER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body truecron-panel-body organization-panel-body">
                                <div class="container-fluid">
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Vitali Hatalski</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>Admin</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>vitali.hatalski@truecron.com</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>Workspaces <i class="fa fa-angle-right"></i></h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Andrew Kasatkin</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>Viewer</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>andrew.kasatkin@perkslab.com</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>Workspaces <i class="fa fa-angle-right"></i></h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Paul Shmakov</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>Viewer</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>paul.shmakov@truecron.com</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>Workspaces <i class="fa fa-angle-right"></i></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="panel-body truecron-panel-body tab-pane" id="workspaces">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-material-blue-grey-200">
                            <div class="panel-heading truecron-panel-heading">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3 class="panel-title truecron-panel-title">Workspaces</h3>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <a class="btn btn-material-orange-800 text-right truecron-panel-btn">ADD WORKSPACE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body truecron-panel-body organization-panel-body">
                                <div class="container-fluid">
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Producrion</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5><i class="fa fa-github"></i> Perkslab</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>3 Jobs</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>1 user</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Staging</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5><i class="fa fa-github"></i> Perkslab</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>6 Jobs</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>4 users</h5>
                                        </div>
                                    </div>
                                    <div class="row truecron-bottom-border">
                                        <div class="col-md-3">
                                            <h5>Development</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5><i class="fa fa-github"></i> Perkslab</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>23 Jobs</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <h5>10 users</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
