{{!--<div class="row loading-position">--}}
    <div class="col-md-offset-5 col-md-3">
        <div class="list-group">
            <div class="list-group-item loading-group">
                <div class="row-picture spin">
                </div>
                <div class="row-content">
                    <h1 class="loading">Truecron</h1>
                </div>
            </div>
        </div>
    </div>
{{!--</div>--}}
{{yield}}
