<div class="hiddendiv">
    <table class="allwidth">
        <tbody>
        <tr>
            <td class="first_row">Copy Files to FTP<span class="title-icon"><i class="fa fa-pencil"></i></span></td>
            <td align="right"><a href="#"><u>ACTIVE</u></a></td>
        </tr>
        </tbody>
    </table><hr>
    <div class="accordion" id="accordion3">
        <div class="accordion-group"><!--dummy need to open on the page could not see the contents of the tab-->
            <div class="accordion-heading">
                <button class="accordion-toggle buttonaccordion" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                    <span class="title-icon"><i class="fa fa-chevron-down"></i>Task Properties</span>
                </button>
            </div>
            <div id="collapseThree" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <label class="label-br">Type:</label>
                    <div class="btn-group cron-drop">
                        <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">Copy</button>
                        <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Archive</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <hr>
                    <table width="100%">
                        <tr>
                            <td>
                                <label class="label-br">Source connection:</label>
                                <div class="btn-group cron-drop">
                                    <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">local</button>
                                    <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">smtp</a></li>
                                        <li><a href="#">ftp</a></li>
                                        <li><a href="#">type#3</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td> &nbsp;</td>
                            <td>
                                <label class="label-br">Target connection:</label>
                                <div class="btn-group cron-drop">
                                    <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">AmericanSignature sFTP</button>
                                    <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">type 2</a></li>
                                        <li><a href="#">type 3</a></li>
                                        <li><a href="#">type 4</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-section">
                                    <label class="label-br">Source folder:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="D:\Data\AmericanSignature\">
                                               <span class="input-group-btn">
                                               <button class="btn caret-cron" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                               </span>
                                    </div>
                                </div>
                            </td>
                            <td width="10%">&nbsp;</td>
                            <td>
                                <div class="input-section">
                                    <label class="label-br">Target folder:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="">
                                               <span class="input-group-btn">
                                               <button class="btn caret-cron" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                               </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr valign="bottom">
                            <td>
                                <div class="input-section">
                                    <label class="label-br">File mask:</label>
                                    <input type="text" class="form-control" placeholder="*.csv">
                                </div>
                            </td>
                            <td>&nbsp;</td>
                            <td>
                                <div class="input-group">
                                              <span class="input-group-addon check-cron">
                                                <input type="checkbox">
                                              </span>
                                    <input type="text" class="form-control" placeholder="overvrite existing files">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <label class="label-br">Failure conditions:</label>
                    <table>
                        <tr valign="top">
                            <td>
                                <div>
                                    <div class="input-group">
                                                          <span class="input-group-addon check-cron">
                                                            <input type="checkbox">
                                                          </span>
                                        <input type="text" class="form-control" placeholder="timeout">
                                    </div>
                                </div>
                            </td>
                            <td width="5%">&nbsp;</td>
                            <td>
                                <div class="btn-group cron-drop">
                                    <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-cron">10 seconds</button>
                                    <button type="button" class="btn caret-cron dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <!--internal element accordion start-->
                </div>
            </div>
        </div><!--end part1 accordion3-->
        <div class="accordion-group">
        </div><!--end content accordion part 2-->
        <div class="accordion" id="accordion4">
            <hr>
            <div class="accordion-group">
                <div class="accordion" id="accordion4">
                    <div class="accordion-group"><!--start part1 accordion4-->
                        <div class="accordion-heading">
                            <button class="accordion-toggle buttonaccordion" data-toggle="collapse" data-parent="#accordion4" href="#collapseFive">
                                <span class="title-icon"><i class="fa fa-chevron-right"></i>Output</span>
                            </button>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div><br><br>
                                    <p>
                                    <h5> Clean Folder, Monday, May 26th, duration: 0.68s</h5>
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exertition, unllamco laboris nisi ut aliquip ex ea commodo concequat. Duis aute irure
                                        dolor in reprehenderit in volupdate velit esse cillum dolore eu fugiat nulla pariatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div><!--end dummy--><hr>
                </div>
            </div>
        </div>
    </div>
</div>
