<div class="container fluid container-truecron">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <h3 class="panel-title">My Profile</h3>
                </div>
                <div class="panel-body truecron-panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>User Name</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="userName" type="text" value="" class="form-control empty" data-hint="Enter user name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Name</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="fullName" type="text" value="" class="form-control empty" data-hint="Enter full name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Email</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="email" type="text" value="" class="form-control empty" data-hint="Enter Email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <h3 class="panel-title">Password</h3>
                </div>
                <div class="panel-body truecron-panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Password</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="pass" type="password" value="" class="form-control empty" data-hint="Enter password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Password Confirmation</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="repass" type="password" value="" class="form-control empty" data-hint="Confirm password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <h3 class="panel-title">Google Profile</h3>
                </div>
                <div class="panel-body truecron-panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Google Email</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="gmail" type="email" value="" class="form-control empty" data-hint="Enter Google Email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <h3 class="panel-title">GitHub Profile</h3>
                </div>
                <div class="panel-body truecron-panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>GitHub Profile</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="github" type="text" value="" class="form-control empty" data-hint="Enter GitHub Profile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-material-blue-grey-200">
                <div class="panel-heading truecron-panel-heading">
                    <h3 class="panel-title">API Token</h3>
                </div>
                <div class="panel-body truecron-panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>API Token</h5>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group-material-orange-700">
                                <div class="form-control-wrapper">
                                    <input id="API" type="text" value="" class="form-control empty" data-hint="Enter API Token">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}
