<header class="job-details-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 class="job-title">
                  {{!--{{paper-text label="Job name" value=module.name}}--}}
                    <div class="form-group">
                        <input class="form-control floating-label" id="focusedInput" placeholder="Focus to show the hint" data-hint="You should really write something here" type="text">
                    </div>
                    {{!--<div class="form-group">--}}
                        {{!--<input class="form-control floating-label" id="focusedInput" placeholder="Focus to show the hint" data-hint="You should really write something here" type="text">--}}
                    {{!--</div>--}}
                    {{!--<span class="orange-dashed">{{model.name}}</span>--}}
                </h3>
            </div>
            <div class="col-md-6 truecron-tasks-header">
                <h3><span class="blue-dashed">Schedule is not set yet.</span></h3>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="new-job-body">
            <form class="form-inline">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="startsOn">Starts on:</label>
                        <input id="startsOn" class="form-control" type="date" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="startsAt">at:</label>
                        <input id="startsAt" class="form-control" type="time" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        {{!--<label for="timezone">timezone:</label>--}}
                      {{ember-selectize
                      content=controller.items
                      optionValuePath="content.id"
                      optionLabelPath="content.name"
                      selection=controller.item
                      placeholder="Select an item" }}
                        {{!--<input id="timezone" class="form-control" type="text" />--}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{outlet}}
