{{outlet}}
<header class="truecron-index-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="arrow_box-left" role="alert">
                    <h3>Add Your first Job by Clicking Add Job!</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="truecron-index-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <div class="complex_task_icon"></div>
            </div>
            <div class="col-md-11">
                <h3>Create a complex tasks</h3>
                <p>
                    TrueCron is a scheduler that allows you to create a complex tasks in several clicks, peer review it, test and release to production and be sure it will run properly
                </p>
            </div>
            <div class="col-md-1">
                <div class="complex_task_git"></div>
            </div>
            <div class="col-md-11">
                <h3>GitHub integration</h3>
                <p>
                    Finally a scheduler made for Software Developers by Software Developers. We think that scheduled jobs are as important as your production code. Therefore it should be tested as such. Production code is typically created in a development environment, tested there and then integrated into staging environment, tested there again and only then released to production. This is exactly what TrueCron supports for scheduled jobs. Connect to your Github and make sure your jobs are proper.
                </p>
            </div>
            <div class="col-md-1">
                <div class="complex_task_icon_cog"></div>
            </div>
            <div class="col-md-11">
                <h3>Pre-configured tasks</h3>
                <p>
                    We want to create your jobs fast. So we provided pre-configured tasks for you. We can do it all from running arbitrary executable on a remote machine to encrypting a file and uploading it to S3 storage. We got tasks like SQL query execution, FTP operations, file management, MS Office format manipulations, SMTP operations, etc.
                </p>
            </div>
        </div>
    </div>
</div>
