{{outlet}}
<header class="truecron-index-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="arrow_box-left" role="alert">
                    <h3>Add Your first Job by Clicking Add Job!</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="truecron-index-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <div class="complex_task_icon"></div>
            </div>
            <div class="col-md-11">
                <h3>Create a complex tasks</h3>
                <p>
                    TrueCron is a scheduler that allows you to create a complex tasks in several clicks, peer review it, test and release to production and be sure it will run properly
                </p>
            </div>
        </div>
    </div>
</div>
