<h1>Hello, world!</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">.col-md-3</div>
        <div class="col-sm-8 col-md-9 col-lg-10">.col-md-9</div>
    </div>
</div>
{{outlet}}
