<div class="container-fluid container-truecron">
  <div class="row">
      {{outlet}}
  </div>
  {{!--<div class="row">--}}
      {{!--<button type="button" class="btn btn-default" {{action 'toggleSidebarVisibility'}}>Toggle Visibility</button>--}}
  {{!--</div>--}}
</div>
